/* General styles for the entire page */
body {
    background-color: #000000; /* black */
    color: #ffffff; /* white*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles for the header section */
header {
    background-color: #0288d1; /* Blue header background */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Styles for the navigation bar */
nav {
    background-color: #0277bd; /* Slightly darker blue for navigation */
    padding: 10px;
}

/* Styles for the navigation links */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

/* Styles for the main content section */
section {
    padding: 20px;
    margin: 20px;
}

.center-text {
    text-align: center;
}

p {
    margin-bottom: 15px; /* Space between paragraphs */
}

/* Styles for the footer section */
footer {
    background-color: #0288d1; /* Blue footer background */
    color: white;
    padding: 2px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* tarot reader style */
h1 {
font-size: 24px;
}

button {
padding: 10px 20px;
margin: 10px 0;
font-size: 16px;
}

textarea {
width: 50%;
height: 75px;
font-size: 20px;
text-align: center;    
}

.container {
text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cardImage {
    max-width: 200%;
    max-height: 500px; /* Adjust the height as needed */
    height: auto;
}
        
